

#menu{
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
}



#menu li{
  display: block;
  float: left;
  width:33.33% ;
  margin: 0;
  padding: 0;
}

#menu li a{
  display: block;
  padding: 12px 0 10px;
  background: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#menu li a:hover{
  background: #444;
}

#toggle{
 display: none;
}

@media only screen and (max-width: 768px) {
    #menu li{
    width: 25%;
    border-bottom: 1px solid #444;
  }
}

@media only screen and (max-width: 480px) {
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }

  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  #toggle:before{
      display: block;
      content: "";
      position: absolute;
      top: 49%;
      left: 10px;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: #fff;
    }
    #toggle a:before, #toggle a:after{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 10px;
      width: 20px;
      height: 4px;
      background: #222;
    }
    #toggle a:before{
      margin-top: -6px;
    }
    #toggle a:after{
      margin-top: 2px;
    }
  }




  #m2 {
     margin: 0 auto;
     width: 100%;
     max-width: 1366px;
     background: #333;
  }

  #m2 ul {
     overflow:hidden;
     width:100%;
     margin:0;
     list-style:none;
  }

  #m2 li {

     float:left;
     margin:0;
     padding:0;
  }

  #m2 li a {
     display:block;
     padding: 12px 30px 12px;
     font-weight:bold;
     color:#fff;
     text-decoration: none;

  }

  #m2 li a:hover {text-shadow:0 0 5px yellow;}


  #toggle2{
   display: none;
  }

  @media only screen and (max-width: 768px) {
  }

  @media only screen and (max-width: 480px) {
    #md{
      display: none;
    }

    #md li{
    width: 100%;
    border-bottom: 1px solid #444;
    }

    #m2 li a {
       display:block;
       padding: 10px 0px 10px;
       padding-left: 20px;
       font-weight:bold;

    }


    #m2 li a:hover {background: #444; text-shadow: none;}


    #toggle2{
      display: block;
      position: relative;
      width: 100%;
      background: #222;
    }
    #toggle2 a{
      display: block;
      position: relative;
      padding: 5px 0 0px;
      border-bottom: 1px solid #444;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }

    #toggle2:before{
        display: block;
        content: "";
        position: absolute;
        top: 49%;
        left: 10px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background: #fff;
      }
      #toggle2 a:before, #toggle2 a:after{
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        width: 20px;
        height: 4px;
        background: #222;
      }
      #toggle2 a:before{
        margin-top: -6px;
      }
      #toggle2 a:after{
        margin-top: 2px;
      }
    }
