body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y:hidden ;
   overflow-x: hidden;
}

.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 20px 0 200px;
  text-align: ;
  background:#E4E4E4 ;
  background-size: cover;

}

.titlelogo{ width: 65%; margin-top:px;}
a:hover{text-decoration: none;}
.noAvilable{text-align: center; ;}




@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {

    .none {display:none}

}

@media screen and (max-width:481px){
   .titleImg{ width: 90%;}
  .main {  background:#E4E4E4;}
   form {  }
   form input  { }

  .snone {display:none}


.header{text-align: center;
        margin-top: 20px;
         font-size: 24;
         font-weight: bold;
       }

.button{
 float: left;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  height:80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: #6FBD3B;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 6px #6FBD3B;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-left: 100px;
  margin-top: 20px;
  outline:none;
}
.button:hover{
  opacity: 0.5;
  border: solid 1px #77b4fd;
}


#groupW{
          position: relative;
}


#group{

        height: 450px;;
        width: 96%;
        font-size: ;
        color: #363636;
        font-weight: bold;
        top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           margin: auto;


}

#join{background:#F7F7F7;
      width: 100%;
      height:200px;
      box-shadow: 10px 10px 40px rgba(0,0,0,0.4); }

      #create{background:#F7F7F7;
            width: 100%;
            height:150px;
            box-shadow: 10px 10px 40px rgba(0,0,0,0.4); }


.scroll {overflow-y:scroll;}
.scroll::-webkit-scrollbar{width:7px;}/*バーの太さ*/
.scroll::-webkit-scrollbar-track{background:#dddddd;}/*バーの背景色*/
.scroll::-webkit-scrollbar-thumb{background:#2cc2e4;}/*バーの色*/

.tab-group {
  list-style: none;
  padding: 0;
  top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     margin-top: 20px;
     width:96%;
}
.tab-group:after {

  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #ffbf00;
  color: #ffffff;
}
.tab-group .active a {
  background: #ffbf00;
  color: #ffffff;
}
.tab-content > div:last-child {
  display: none;
}

}

.joinButton{-webkit-border-radius: 2;
-moz-border-radius: 2;
border-radius: 2px;
text-shadow: 1px 1px 2px #666666;
font-family: Arial;
font-weight:bold;
color: #fffafa;
font-size: 14px;
background: rgba(50, 205, 50, 0.7);
padding: 0px 0px 0px 0px;
text-decoration: none;
border-color: transparent;
width:50px;
height:30px;
margin-top: 0px;
margin-left: 150px;
}

.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #363636;
  font-size: 20px;
  background: #ffbf00;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}



.mail {
   margin-left: 100px;
   margin-bottom: 0px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
   width:200px;
   font-size: 18;
   padding: 4px 20px 4px 20px;
}

.create  {
   margin-left: 30px;
   margin-bottom: 0px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
   width:260px;
   font-size: 18;
   padding: 10px 40px 10px 40px;
}



.tableHead{background: #ffbf00;
           color: white;

}

#Stable{width:100%;
        margin-top: 20px;
      }
#Stable tr{background: rgba(250, 95, 93, 0.9);
        color: white;
      }
#Stable th{padding: 10px 10px 10px 10px;

}

#Event  {width:100%;
       border-bottom-style:solid;
       border-bottom-width:4px;
       border-bottom-color:rgba(160, 179, 176, 0.7);
}

#Event th {padding: 5px 10px 5px 10px;
}

#Event td{padding: 10px 10px 10px 20px;
   }

   #join td a {
     display:block;
       　width:100%;
       　height:100%;
       color: #404040
   }



#join{background:  }
 tbody tr      {
 cursor:pointer;
 }
 tbody tr:hover    {
 color:#;
 background:#ccc
 }


}
}
