body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background: #F2F2F2;
   background-size: cover;
   overflow-y: hidden;
   overflow-x: hidden;
   min-height: 400px;
   margin-bottom: 200px;
   clear: both;

}

form{ margin-left: 20%; margin-top: 7% }

form input  {
   width:400px;
   padding:15px;
   margin-bottom:10px;
   background:#;
}
#container{
        width:35%;
        margin:5%;
        margin-right:auto;
        margin-left:auto;
        border-radius:20px;
        box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
        height:auto;
}
#signupbox{
        display:none;
        padding:40px;
}

#container #tabbox{
        width:100%;
        height:40px;
        border-bottom: 1px solid #fff;
}
/* now lets style the single tabs */
.tab{
        width:50%;
        height:40px;
        display:block;
        line-height:40px;
        text-align:center;
        -webkit-border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius:4px 4px 0px 0px;
         text-transform: uppercase;
}
#tabbox a {
    float:left;
    text-decoration:none;
    color:#000;
   }
.select
        {
        background-color:white;
        }
label{
        display:block;
        padding:3px;
        text-transform: uppercase;
        color:#fff;
}
.txtfield{
        border-radius:5px;
        height:25px;
        width:80%;
}
.btn{
        display:block;
        padding:10px;
        border-radius:7px;
        background-color:#fff;
        color:#000;
        font-size:15px;
        margin:10px 0px 0px 15px;
        box-shadow:0px 0px 5px #fff;
}
#signinbox{
        padding:15px;
        margin:30px 0px 0px 30px;
}
.error{
        color:red;
}
#footer{
        bottom:0;
        width:100%;
        color:white;
        height:auto;
        text-align:center;
        position:fixed;
}

.titlelogo{ width: 65%; margin-top:px;}





.titleImg{width:30%;
}




a:hover{
  text-decoration: none;
}


.mail,.pass  {
   margin-bottom: 10px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
}


.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 25px;
  background: #ffbf00;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}


#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}

@media screen and (max-width:768px){

  .main {background:#000 url("../images/Home-tablet.jpg");}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}

}


@media screen and (max-width:480px){
   .titleImg{ width: 90%;}
  .main { background:#000 url("../images/Home-sm.jpg");}
   form { margin-left: 0%; margin-top: 10px; }
   form input  { width:280px;padding:10px;}
  .signUp{font-size:35px;}
  .submit {  padding: 5px 40px 5px 40px;}
}
a.button4{
    width:250px;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    text-shadow: 1px 1px 2px #666666;
    font-family: Arial;
    font-weight:bold;
    color: #000000;
    font-size: 25px;
    background: rgba(255, 215, 0, 0.9);
    padding: 5px 40px 5px 40px;
    text-decoration: none;
    border-color: transparent;

}
a.button4:hover{
 border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
 }
 label{
        display:block;
        padding:3px;
        text-transform: uppercase;
        color:black;
}
