body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background-color: #3B4044;
   background-size: cover;
   overflow-y: auto;
   overflow-x: auto;
    min-height: 400px;
   margin-bottom: 200px;
   clear: both;
   
}

form{ margin-left: 20%; margin-top: 7% }

form input  {
   width:400px;
   padding:15px;
   margin-bottom:10px;
   background:#;
}
#container{
        width:35%;
        margin:5%;
        margin-right:auto;
        margin-left:auto;
        border-radius:20px;
        box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
        height:auto;
}
#signupbox{
        display:none;
        padding:40px;
}

#container #tabbox{
        width:100%;
        height:40px;    
        border-bottom: 1px solid #fff;
}
/* now lets style the single tabs */
.tab{
        width:50%;
        height:40px;
        display:block;
        line-height:40px;
        text-align:center;       
        -webkit-border-top-left-radius:20px;
        -webkit-border-top-right-radius:20px;
        -moz-border-radius:4px 4px 0px 0px;
         text-transform: uppercase;
} 
#tabbox a { 
    float:left; 
    text-decoration:none;
    color:#000; 
   }
.select
        {
        background-color:white;
        }
label{
        display:block;
        padding:3px;
        text-transform: uppercase;
        color:#fff;
}
.txtfield{
        border-radius:5px;
        height:25px;
        width:80%;
}
.btn{
        display:block;
        padding:10px;
        border-radius:7px;
        background-color:#fff;
        color:#000;
        font-size:15px;
        margin:10px 0px 0px 15px;
        box-shadow:0px 0px 5px #fff;
}
#signinbox{
        padding:15px;
        margin:30px 0px 0px 30px;
}
.error{
        color:red;
}
#footer{
        bottom:0;
        width:100%;
        color:white;
        height:auto;
        text-align:center;
        position:fixed;
}






.titleImg{width:30%; 
}




a:hover{
  text-decoration: none;
}


.mail,.pass  {
   margin-bottom: 10px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
}


.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 25px;
  background: #ffbf00;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}


#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}

@media screen and (max-width:768px){

  .main {background:#000 url("../images/Home-tablet.jpg");}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}

}


@media screen and (max-width:480px){
   .titleImg{ width: 90%;}
  .main { background:#000 url("../images/Home-sm.jpg");}
   form { margin-left: 0%; margin-top: 25% }
   form input  { width:280px;padding:10px;}
  .signUp{font-size:35px;}
  .submit {  padding: 5px 40px 5px 40px;}
}
a.button4{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.1em 0;
 border:0.16em solid rgba(255,255,255,0);
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;

}
a.button4:hover{
 border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
 }
.accordion-bral {
  min-height: 0;
  min-width: 220px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0px!important;
}
}
.accordion-bral .ac-label:hover {
  background: #BBB;
}
.accordion-bral input + .ac-label  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-bral input:checked + .ac-label,
.accordion-bral input:checked + .ac-label:active {
  background-color: rgba(79, 79, 79, 0.5) !important;
  color: #FFF;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
}
.accordion-bral input.ac-input {
  display: none;
}
.accordion-bral .article {
  background: rgb(240, 240, 240);
  overflow: hidden;
  height: 0px;
  max-height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-bral .article p {
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
}
.accordion-bral input:checked ~ .article i {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.accordion-bral input:checked ~ .article.ac-content {
  height: auto;
}

.accordion-bral i {
  position: absolute;
  transform: translate(-30px, 0);
  margin-top: 16px;
  right: 0;
}
.accordion-bral input:checked ~ .ac-label i:before {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordion-bral input:checked ~ .ac-label i:after {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion-bral i:before, .accordion-bral i:after {
  content: "";
  position: absolute;
  background-color: #808080;
  width: 3px;
  height: 9px;
}
.accordion-bral i:before {
  transform: translate(-2px, 0) rotate(-45deg);
}
.accordion-bral i:after {
  transform: translate(2px, 0) rotate(45deg);
}
ul.ac-list {
  padding-left: 40px;
  list-style-type: disc;  
}

table.ac-table {
  margin: 20px 0 20px 20px;
}
table.ac-table th{
  text-align: left;
}

@media (max-width: 550px) {
  .accordion-bral .ac-label {
  font-family: Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  display: block;
  height: auto;
  padding-right: 40px;
  cursor: pointer;
  color: #777;
  line-height: 33px;
  font-size: 19px;
  background: #EFEFEF;
  border: 1px solid #CCC;
}
  .accordion-bral i {
  position: absolute;
  transform: translate(-30px, 0);
  margin-top: 2%;
  right: 0;
}
}