body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}



.welcome{text-align:center;
         font-size: 22;
         font-weight: 900;
         color: #F2F2F2;
         margin-top: 100px;
       }




#main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 20px 0 200px;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}

#main a img:hover{
  background: #1B1B1B;

}

#main button{width:155px;
              height:155px;


}

.table-ul {
  background-color: #3ae;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.table-ul li {
  border-right: 1px solid #fff;
  display: table-cell;
  vertical-align: middle;
}
.table-ul li:last-child {
  border-right: 0;
}
.table-ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0;
}
.mib{width:99%;
     text-align:center;
     position:absolute;
     bottom:1;
   margin-left: 2px;}

.mi{width:155px;
    height:155px;}



.titlelogo{ width: 65%; margin-top:px;}

b {
  color:#181818;
}





#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}
@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:480px) and (max-width:960px) {
  .main {background:;}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}
    .none {display:none}

}

@media screen and (max-width:480px){
   .titleImg{ width: 90%;}
  #main { background:#000 url("../images/mainbackGround2.png")0 0 repeat fixed;
          }

.welcome{text-align:center;
         font-size: 26;
         font-weight: 900;
         color: #F2F2F2;
         margin-top: 50px;
         text-shadow: 1px 2px 3px #0B0B0B;
       }

.message{text-align:center;
         font-size: 26;
         font-weight: 900;
         color: #F2F2F2;
         margin-top: 50px;
         text-shadow: 1px 2px 3px #0B0B0B;
       }

.username{text-align:center;
         font-size: 30;
         font-weight: 900;
         color: #F2F2F2;
         margin-top: 60px;
         text-shadow: 1px 2px 3px #0B0B0B;
}

       .logout {
         -webkit-border-radius: 2;
         -moz-border-radius: 2;
         border-radius: 5px;
         text-shadow: 1px 1px 2px #666666;
         font-family: Arial;
         font-weight:bold;
         color: #000000;
         font-size: 25px;
         background: #ffbf00;
         padding: 0px 20px 0px 20px;
         text-decoration: none;
         border-color: transparent;
         width:150px;


       }

       .logout:hover {
         background: #3cb0fd;
         text-decoration: none;
       }

}
