body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y:hidden ;
   overflow-x: hidden;
}




.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 20px 0 200px;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}

.titlelogo{ width: 65%; margin-top:px;}




a:hover{
  text-decoration: none;
}



.noAvilable{text-align: center; ;}




#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}
@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {

    .none {display:none}

}

@media screen and (max-width:481px){
   .titleImg{ width: 90%;}
  .main {  background:#E4E4E4;}
   form {  }
   form input  { }

  .submit {  padding: 5px 40px 5px 40px;}

  .snone {display:none}



 #footMenu{
   padding: 5px 0 5px;}



.button{
 float: left;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  height:80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: #6FBD3B;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 6px #6FBD3B;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-left: 100px;
  margin-top: 20px;
  outline:none;
}



.button:hover{
  opacity: 0.5;
  border: solid 1px #77b4fd;
}


#rankingW{
          position: relative;
}


#ranking{
        background:#F7F7F7;
        height: 500px;;
        width: 96%;
        font-size: ;
        color: #363636;
        font-weight: bold;
        top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           margin: auto;
           box-shadow: 10px 10px 40px rgba(0,0,0,0.4);
            border-bottom: 1px solid #a9a9a9;

}

.scroll {overflow-y:scroll;}
.scroll::-webkit-scrollbar{width:7px;}/*バーの太さ*/
.scroll::-webkit-scrollbar-track{background:#dddddd;}/*バーの背景色*/
.scroll::-webkit-scrollbar-thumb{background:#2cc2e4;}/*バーの色*/

.tab-group {
  list-style: none;
  padding: 0;
  top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     margin-top: 20px;
     width:96%;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #ffbf00;
  color: #ffffff;
}
.tab-group .active a {
  background: #ffbf00;
  color: #ffffff;
}
.tab-content > div:last-child {
  display: none;
}

}


#ranking th{background: #ffbf00;
            padding: 10px 0px 10px 0px;
}

#ranking td {padding: 5px 0px 5px 0px;


}







.backhome{-webkit-border-radius: 2;
-moz-border-radius: 2;
border-radius: 2px;
font-family: Arial;
font-weight:bold;
color: #a0b3b0;
font-size: 25px;
background: rgba(160, 179, 176, 0.25);
padding: 5px 40px 5px 40px;
text-decoration: none;
border-color: transparent;
width:96%;

margin-top: 20px;


}

.backhome:hover{background: #ffbf00;
                color: #ffffff;
               text-decoration: none;

}


.download{-webkit-border-radius: 2;
-moz-border-radius: 2;
border-radius: 2px;
text-shadow: 1px 1px 2px #666666;
font-family: Arial;
font-weight:bold;
color: #fffafa;
font-size: 25px;
background: rgba(50, 205, 50, 0.7);
padding: 5px 40px 5px 40px;
text-decoration: none;
border-color: transparent;
width:70%;

margin-top: 20px;


}

.download:hover{background: #32cd32;
               text-decoration: none;

}






.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

}
