body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}

form{ margin-left: 20%; margin-top: 7% }

form input  {
   width:400px;
   padding:15px;
   margin-bottom:10px;
   background:#;
}



.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 30px 0 200px;
  background: #999;
  text-align: ;
  background:#000 url("../images/Home.jpg");
  background-size: cover;
}







a:hover{
  text-decoration: none;
}


.mail,.pass, .firstName,.lastName, .pcode,.address,.group,.selectBox  {
   margin-bottom: 10px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   color:#545454;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
}



.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 25px;
  background: rgba(255, 215, 0, 0.25);
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}

.submit:hover {
  background: #F0E46A;
  text-decoration: none;
}



@media screen and (max-width:768px){

  .main {background:#000 url("../images/Home-tablet.jpg");}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}

}


@media screen and (max-width:480px){
  .titlelogo{ width: 65%; margin-top:px;}
  .titleImg{ width: 90%;}
  .main { background:#E4E4E4;}
  form { margin-left: 0%; margin-top: 0%}
  .header{text-align: center;
           font-size: 30;
           font-weight: bold;
           color:#000000;
           margin-bottom: 30px;}
   form input  { width:400px;padding:10px;}
      .firstName{width:197px;}
      .lastName{width:197px;}

      form select  {
         width:400px;
         padding:10px;
         margin-bottom:10px;
         background:#;
      }

      .selectBox{width:197px;}

  .submit {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    text-shadow: 1px 1px 2px #666666;
    font-family: Arial;
    font-weight:bold;
    color: #000000;
    font-size: 25px;
    background: rgba(255, 215, 0, 0.9);
    padding: 5px 40px 5px 40px;
    text-decoration: none;
    border-color: transparent;

  }

  .submit:hover {
    background: rgba(255, 200, 0, 1);
    text-decoration: none;
  }


}
