body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y:hidden ;
   overflow-x: hidden;
}




.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 20px 0 200px;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}

.titlelogo{ width: 65%; margin-top:px;}




a:hover{
  text-decoration: none;
}



.noAvilable{text-align: center; ;}




#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}
@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {

    .none {display:none}

}

@media screen and (max-width:481px){
   .titleImg{ width: 90%;}
  .main {  background:#323232;}
   form {  }
   form input  { }

  .submit {  padding: 5px 40px 5px 40px;}

  .snone {display:none}



 #footMenu{
   padding: 5px 0 5px;}



.button{
 float: left;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  height:80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: #6FBD3B;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 6px #6FBD3B;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-left: 100px;
  margin-top: 20px;
  outline:none;
}

.clear{
 float: left;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  height:80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background: #B7B7B7;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 6px #B7B7B7;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-left: 100px;
  margin-top: 20px;
  outline:none;
}

.button:hover{
  opacity: 0.5;
  border: solid 1px #77b4fd;
}

.wrap{height:88px;
      background: #1C1C1C;}

.wrap2{height:88px;
      background: #272727;}

.eventName{font-size: 28;
           font-weight: bold;
           color:#F2F2F2;
           text-shadow: 1px 2px 3px #0B0B0B;
           line-height: 100px;
           margin-left: 20px;
}

.eventD{font-size: 22;
           font-weight: bold;
           color:#F2F2F2;
           text-shadow: 1px 2px 3px #0B0B0B;
           line-height: 100px;
           margin-left: 20px;
}

.retire{ background: #1C1C1C;
        height: 350px;
        margin-top: 0px;
        font-size: 40;
        color: #F2F2F2;
        font-weight: bold;
        text-shadow: 1px 2px 3px #0B0B0B;



}
.RetireP {padding-top: 14px;
          text-align: center;
          font-size: 22;
          font-weight: bold;
          color:#F2F2F2;
          text-shadow: 1px 2px 3px #0B0B0B;

}

.backhome{-webkit-border-radius: 2;
-moz-border-radius: 2;
border-radius: 2px;
text-shadow: 1px 1px 2px #666666;
font-family: Arial;
font-weight:bold;
color: #000000;
font-size: 25px;
background: #ffbf00;
padding: 10px 40px 10px 40px;
text-decoration: none;
border-color: transparent;
width:100%;
}

.backhome:hover{background: #3cb0fd;
               text-decoration: none;

}

}
