body {
  position:relative;

   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}





.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 30px 0 200px;
  background: #999;
  background:#000 url("../images/Home.jpg");
  background-size: cover;
}

.titlelogo{ width: 65%; margin-top:px;}




a:hover{
  text-decoration: none;
}


.mail,.pass, .firstName,.lastName, .pcode,.address,.group  {
   margin-bottom: 10px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
}



.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 25px;
  background: #ffbf00;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}



@media screen and (max-width:768px){

  .main {background:#000 url("../images/Home-tablet.jpg");}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}

}


@media screen and (max-width:480px){

  .main { background:#E4E4E4;}
   form { margin-left:5%; margin-top: 0% }




     .header {
       -webkit-border-radius: 2;
       -moz-border-radius: 2;
       border-radius: 2px;
       text-shadow: 1px 1px 2px #666666;
       font-family: Arial;
       font-weight:bold;
       color: #000000;
       font-size: 25px;
       background: #2e8b57;
       padding: 10px 40px 10px 40px;
       text-decoration: none;
       border-color: transparent;
       width:95%;
       margin-left: 5px;
     }

.checkbox{margin-left: 20px;
}





}


}
