body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#000000;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}

.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 750;
  margin: 0 auto;
  padding: 20px 0 200px;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}



.titlelogo{ width: 65%; margin-top:px;}





.noAvilable{text-align: center; ;}

.CCode{
margin-bottom: 10px;
border-color: transparent;
font-family: Arial;
font-size:12;
font-weight:bold;
color:black;
text-shadow: 1px 1px 2px #fff;
background-color: rgba(255,255,255,);
padding: 4px 0px 4px 0px;
}

.CodeSubmit{
  margin-bottom: 10px;
  text-align: center;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  border-radius: 0px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size:12px;
  background: #FE9A2E;
  padding: 4px 0px 4px 0px;
  text-decoration: none;
  border-color: transparent;
  width:50px;
}

#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {
  .main {background:;}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}
    .none {display:none}

}

@media screen and (max-width:481px){
   .titleImg{ width: 90%;}
  .main {  background:#E4E4E4;}
   form input  { width:280px;padding:10px;}
  .signUp{font-size:35px;}
  .submit {  padding: 5px 40px 5px 40px;}

  .snone {display:none}





 .EventD{
        width:95%;
        height:660px;
        background:#F1F1F1;
        margin-bottom: 10px;
        margin-left:10px;}

 .eventTop{width: 100%; height: 5px; background:#FE9A2E;}
 .eventContent{padding-bottom: 5px;}
 .eventtitle{margin-left: 20px;margin-top: 10px;
             font-size:25; color:#000000; font-weight: 600;
           }

 .eventDesc{text-align: left; margin-left:30px; color:#000000;font-weight: 600;}

 .cancel{

 }



 .submit {
   -webkit-border-radius: 2;
   -moz-border-radius: 2;
   border-radius: 2px;
   text-shadow: 1px 1px 2px #666666;
   font-family: Arial;
   font-weight:bold;
   color: #000000;
   font-size: 25px;
   background: #FF8000;
   padding: 10px 40px 10px 40px;
   text-decoration: none;
   border-color: transparent;
   width:95%;
   margin-left: 5px;
 }

#table1 td {padding:1px 5px 5px 1px}
#table2{margin-top: 10px;}
#table2 td {padding:1px 5px 5px 1px;
            }

#note{width: 400px;
       margin-top: 10px;}

#note p {padding:10px 5px 10px 5px;}

#note .note{border-bottom: solid 2px #434343;

      }
      .back {
        margin-top: 10px;
        margin-right: 20px;
        text-align: center;
        -webkit-border-radius: 2;
        -moz-border-radius: 2;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: Arial;
        font-weight:bold;
        color: #000000;
        font-size: 16px;
        background: #FE9A2E;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        border-color: transparent;
        width:100px;
        outline: none;
      }

      .codebtn {
        margin-top: 10px;
        text-align: center;
        -webkit-border-radius: 2;
        -moz-border-radius: 2;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: Arial;
        font-weight:bold;
        color: #000000;
        font-size: 16px;
        background: #FE9A2E;
        padding: 5px 20px 5px 20px;
        text-decoration: none;
        border-color: transparent;
        width:180px;
      }

      .start {
        margin-top: 10px;
        text-align: center;
        -webkit-border-radius: 2;
        -moz-border-radius: 2;
        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: Arial;
        font-weight:bold;
        color: #000000;
        font-size: 16px;
        background: #FE9A2E;
        padding: 5px 20px 5px 20px;
        text-decoration: none;
        border-color: transparent;
        width:360px;
      }



}
