body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}
.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 20px 0 0px;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}

.titlelogo{ width: 65%; margin-top:px;}



a:hover{
  text-decoration: none;
}



.noAvilable{text-align: center; ;}


.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}
@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {
  .main {background:;}

  .signUp{font-size:35px;}
    .none {display:none}

}

@media screen and (max-width:481px){
   .titleImg{ width: 90%;}
  .main {  background:#E4E4E4;}

  .snone {display:none}



.header{background: rgba(255, 170, 50, 0.9);
        font-size: 22;
        font-weight: bold;
        color: white;
        padding: 10px 40px 10px 40px;
        text-align: center;
        width:100%;
        margin-bottom: 0px;
      }

.tableHead{background: #30754f;
           color: white;
}

#Stable{width:100%;
        margin-top: 20px;
      }
#Stable tr{background: rgba(250, 95, 93, 0.9);
        color: white;
      }
#Stable th{padding: 10px 10px 10px 10px;

}



#Event th {padding: 5px 10px 5px 10px;
        
}

#Event td{padding: 10px 0px 10px 0px;
   }

table {
    border-collapse: collapse;
    width: 100%;
	background: #dff0d8;
}

tr:nth-child(even){background-color: #f2f2f2};

 tbody tr      {
 cursor:pointer;
 }
 tbody tr:hover    {
 color:#;
 background:#ccc
 }

 .codebtn {
  margin-top: 10px;
  text-align: center;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 16px;
  background: #FE9A2E;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border-color: transparent;
  width:180px;
}

}
