body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#000000;
   background:#000 url("../images/bg.gif") 0 0 repeat fixed;
   overflow-y: hidden;
   overflow-x: hidden;
}

.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 750;
  margin: 0 auto;
  padding: ;
  text-align: ;
  background:#242424 ;
  background-size: cover;

}

.codebtn {
  margin-top: 10px;
  text-align: center;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 16px;
  background: #FE9A2E;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border-color: transparent;
  width:180px;
}

.titlelogo{ width: 65%; margin-top:px;}

a:hover{
  text-decoration: none;
}



.noAvilable{text-align: center; ;}

.CCode{
margin-bottom: 10px;
border-color: transparent;
font-family: Arial;
font-size:12;
font-weight:bold;
color:black;
text-shadow: 1px 1px 2px #fff;
background-color: rgba(255,255,255,);
padding: 4px 0px 4px 0px;
}

.CodeSubmit{
  margin-bottom: 10px;
  text-align: center;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  border-radius: 0px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size:12px;
  background: #FE9A2E;
  padding: 4px 0px 4px 0px;
  text-decoration: none;
  border-color: transparent;
  width:50px;
}

#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}



@media screen and (min-width: 960px) {

  .none {display:none}
}


@media only screen and (min-width:481px) and (max-width:960px) {
  .main {background:;}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}
    .none {display:none}

}

@media screen and (max-width:481px){

  .titleImg{ width: 90%;}
  .main {  background:#F1F1F1;}
  .signUp{font-size:35px;}
  .submit {  padding: 5px 40px 5px 40px;}

  .snone {display:none}


  #stopWatchWrapper {margin-top: -20px;
          height:200px;
   }

  #stopWatch { text-align: center;
              font-size: 80;
              font-weight: 900;
              color: #383838;
              padding-top: 50px;
  }
  #stopwatchControl{text-align: center;

  }


  .button{
   float: left;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    height:80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background: #6FBD3B;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 0 6px #6FBD3B;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    margin-left: 190px;
    margin-top: 20px;
    outline:none;
    text-shadow: 1px 1px 2px #0B0B0B;
  }

  .button:hover{
    opacity: 0.5;
    border: solid 1px #77b4fd;
  }

  #wrap{
        height:200px;
        width:400px;
        background: ;}

  #wrap table {width:400px;
              font-size: 20;

  }

  #wrap table td {padding: 10px 30px 20px 30px;
                  border-top: medium  solid  rgba(160, 179, 176, 0.45);
                  border-bottom: medium  solid  rgba(160, 179, 176, 0.45);
  }
#wrap ul {text-align: center;}
#wrap li {display: inline-block;}


  .CCode  {

     margin-top: 15px;
     margin-bottom: 10px;
     width:200px;
     border-color: transparent;
     font-family: Arial;
     font-size:20px;
     color:#545454;
     font-weight:bold;
     text-shadow: 1px 1px 2px #fff;
     padding: 15px 10px 15px 10px;
     background-color: rgba(255,255,255,0.7);
  }

          .submit {
            width:100px;
            -webkit-border-radius: 2;
            -moz-border-radius: 2;
            border-radius: 2px;
            text-shadow: 1px 1px 2px #666666;
            font-family: Arial;
            font-weight:bold;
            color: #000000;
            font-size: 14px;
            background: rgba(255, 215, 0, 0.9);
            padding: 15px 10px 15px 10px;
            text-decoration: none;
            border-color: transparent;


        }

        .submit:hover {
          background: rgba(255, 200, 0, 1);
          text-decoration: none;
        }

        .retire{ margin-top:0px;



        }
        .RetireP {padding-top: 14px;
                  text-align: center;
                  font-size: 22;
                  font-weight: bold;
                  color:#F2F2F2;
                  text-shadow: 1px 2px 3px #0B0B0B;

        }

        .retireB{
          margin-top: 100px;
                 -webkit-border-radius: 2;
                 -moz-border-radius: 2;
                 border-radius: 2px;
                 text-shadow: 1px 1px 2px #666666;
                 font-family: Arial;
                 font-weight:bold;
                 color: #F1F1F1;
                 font-size: 25px;
                 background: rgba(215, 91, 0, 0.9);
                 padding: 5px 40px 5px 40px;
                 text-decoration: none;
                 border-color: transparent;
                 width:80%;

        }

        .retireB:hover{background: #E46144;
                       text-decoration: none;
                       outline:none;
        }



}
