body {
   margin:0;
   padding:0;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#555;
   background-color: white;
   overflow-y: hidden;
   overflow-x: hidden;
}

form{ margin-left: 20%; margin-top: 7% }

form input  {
   width:400px;
   padding:15px;
   margin-bottom:10px;
   background:#;
}






.main {
  clear: both;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 740px;
  margin: 0 auto;
  padding: 30px 0 200px;
  background:#000 url("../images/Home.jpg");
  text-align: center;

  background-size: cover;
}

.titleImg{ width: 80%;}

.signUp{
   padding-top: 100px;
   font-size:45px;
   color:#fff;
   font-family: 'Tahoma';
   text-shadow: 1px 1px 2px #111;
   font-weight: bold;
}



a:hover{
  text-decoration: none;
}


.mail,.pass  {
   margin-bottom: 10px;
   border-color: transparent;
   font-family: Arial;
   font-size:;
   font-weight:bold;
   text-shadow: 1px 1px 2px #fff;
   background-color: rgba(255,255,255,0.7);
}


.submit {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  font-weight:bold;
  color: #000000;
  font-size: 25px;
  background: #ffbf00;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  border-color: transparent;

}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.error{font-weight: 900;
       color: red;
        text-shadow: 1px 2px 3px #0B0B0B;}

#footMenu{

  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#222;
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;

}

#footMenu ul {
   margin:5px 0;
   padding:0;
   text-align:center;

}

#footMenu li {
   display:inline;
   margin:0 0 0 20px;
   font-size:13px;
   list-style:none;
}

#footMenu li a {
   color:#fff;
}

#footMenu li a:hover {
   color:#999;
   text-decoration:underline;
}

#copyright {
  clear: both;
  width: 100%;
  max-width: 1366px;
  background:#345;
  margin: 0 auto;
  text-align: center;

}

.copyright {
   font-style:normal;
   font-size:11px;
   color:#999;
   line-height:2.5;
   text-align:center;
}
label{
        display:block;
        padding:3px;
        text-transform: uppercase;
        color:black;
}

@media screen and (max-width:768px){

  .main {background:#000 url("../images/Home-tablet.jpg");}
  form{  margin-left: 0%;}
  .signUp{font-size:35px;}

}


@media screen and (max-width:480px){
   .titleImg{ width: 90%;}
  .main { background:#000 url("../images/Home-sm.jpg");}
   form { margin-left: 0%; margin-top: 25% }
   form input  { width:280px;padding:10px;}
  .signUp{font-size:35px;}
  .submit {  padding: 5px 40px 5px 40px;}
}
